body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", " Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  background-color: #1e293b;
  color: #fff;
}

.layout {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid #708090;
  border-right: 1px solid #708090;
  min-height: 100vh;
}

.button, .form__btn--submit, .form__btn--github, .form__btn--google, .post__box-footer button, .post-form__submit-btn {
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.transparent, .home__top {
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.sticky, .home__top {
  width: 100%;
  position: sticky;
  max-width: 680px;
  margin: 0 auto;
  top: 0;
}

.footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  background-color: transparent;
}
.footer__grid button {
  border: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: transparent;
  padding: 16px 0;
  backdrop-filter: blur(10px);
}

.home__search-div {
  display: flex;
  justify-content: center;
}
.home__search {
  background-color: #263340;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 12px;
  width: 90% !important;
  font-size: 16px;
  font-weight: 600;
}
.home__search:focus {
  border: 1px solid #60a5fa;
  background-color: rgba(60, 73, 95, 0.3725490196);
}
.home__title {
  background-color: transparent;
  width: 90%;
  padding: 16px;
  font-weight: 700;
  font-size: 20px;
}
.home__tabs {
  background-color: transparent;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.home__tab {
  background-color: transparent;
  text-align: center;
  font-weight: 500;
  padding: 16px;
  cursor: pointer;
}
.home__tab--active {
  font-weight: 700;
  border-bottom: 2px solid #3b82f6;
}
.home__tab:hover, .home__tab:focus {
  background-color: rgba(60, 73, 95, 0.3725490196);
}

.post-form__input, .home__search {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", " Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 8px;
  border: none;
  resize: none;
  outline: none;
  margin-top: 8px;
  width: calc(100% - 32px);
}
.post-form__hashtags {
  padding: 16px;
  border-bottom: 1px solid #708090;
}
.post-form__hashtags-outputs {
  gap: 8px 1px;
  align-items: center;
}
.post-form__hashtags-tag {
  font-size: 14px;
  border: 1px solid #60a5fa;
  color: #60a5fa;
  border-radius: 10px;
  padding: 2px 8px;
  margin-right: 6px;
  cursor: pointer;
}
.post-form__hashtags-tag:hover, .post-form__hashtags-tag:focus {
  color: #3b82f6;
  border: 1px solid #3b82f6;
}
.post-form__textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", " Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  min-height: 120px;
  display: block;
  width: calc(100% - 32px);
  padding: 16px;
  border: none;
  resize: none;
  outline: none;
  font-size: 20px;
  border-bottom: 1px solid #708090;
}
.post-form__textarea::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", " Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #9ca3af;
  font-size: 20px;
}
.post-form__submit-area {
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #708090;
}
.post-form__submit-area .post-form__file {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.post-form__submit-area .hidden {
  display: none;
}
.post-form__submit-btn {
  padding: 0.5rem 1rem;
  background-color: #60a5fa;
}

.post {
  padding-bottom: 40px;
}
.post__header button {
  border: none;
  padding: 16px;
}
.post__header-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.post__no-posts {
  padding: 16px;
}
.post__no-posts .post__text {
  font-size: 14px;
  border: 1px solid gray;
  padding: 16px;
  border-radius: 4px;
}
.post__flex, .post__box-footer button.post__likes, .post__box-footer button.post__comments {
  display: flex;
  gap: 4px;
  align-items: center;
}
.post__email, .postcreatedAt {
  font-size: 12px;
  color: #9ca3af;
}
.post__box {
  padding: 10px 0;
  border-bottom: 1px solid #708090;
}
.post__box a {
  text-decoration: none;
}
.post__box-profile {
  text-decoration: none;
  padding: 0 10px;
}
.post__box-profile-img, .post__box-profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.post__box-content {
  display: block;
  font-weight: 500;
  padding: 16px 4px;
}
.post__box-footer {
  padding: 0 16px;
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
}
.post__box-footer button.post__delete {
  background-color: #dc2626;
}
.post__box-footer button.post__delete:hover, .post__box-footer button.post__delete:focus {
  background-color: rgba(220, 38, 38, 0.5568627451);
}
.post__box-footer button.post__edit {
  background-color: #6b7280;
}
.post__box-footer button.post__edit a {
  background-color: transparent;
}
.post__box-footer button.post__edit:hover, .post__box-footer button.post__edit:focus {
  background-color: #4c515b;
}
.post__box-footer button.post__likes:hover, .post__box-footer button.post__likes:focus, .post__box-footer button.post__comments:hover, .post__box-footer button.post__comments:focus {
  color: gray;
}

.form {
  margin: 0 atuo;
  max-width: 680px;
  padding: 20px;
}
.form input {
  height: 20px;
  padding: 10px;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 96%;
  max-width: 680px;
}
.form__block {
  margin-top: 20px;
  width: 100%;
}
.form__block--lg {
  margin-top: 28px;
  width: 100%;
}
.form label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}
.form__btn--submit, .form__btn--github, .form__btn--google {
  width: 100%;
  height: 48px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  color: white;
  background-color: #60a5fa;
}
.form__btn--submit:hover, .form__btn--github:hover, .form__btn--google:hover, .form__btn--submit:focus, .form__btn--github:focus, .form__btn--google:focus {
  background-color: #3b82f6;
}
.form__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}
.form__link {
  margin-left: 10px;
  text-decoration: none;
  color: #9ca3af;
}
.form__link:hover, .form__link:focus {
  color: #6b7280;
}
.form__error {
  color: red;
}
.form__btn--google {
  background-color: white;
  color: #3b82f6;
}
.form__btn--google:hover, .form__btn--google:focus {
  background-color: #60a5fa;
  color: #fff;
}
.form__btn--github {
  background-color: black;
  color: white;
}
.form__btn--github:hover, .form__btn--github:focus {
  background-color: rgba(60, 73, 95, 0.3725490196);
  color: #fff;
}/*# sourceMappingURL=index.css.map */